.section-background {
  background-color: #283680;
  z-index:0;
}
#section1{
  height:100vh;
}

/** enable once done (display: none);
html ::-webkit-scrollbar{
}
*/

/*
***************
TITLE CONTAINER
***************
*/

.div-drone-background {
  background-image: url('/images/drone4_opacity.png');
  background-size: cover;
  height:100vh;
}

.title-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:70vh;
}

.text-div {
  width:50%;
  height:50%;
  text-align: center;
}

.text-title {
    color: white;
    font-size: 10rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    margin:0;
}

.text-title-subtext {
  color: white;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

/*
***************
PROBLEM/SOLUTION SECTION
***************
*/
#section2{
  height:50vh;
  display: flex;
  gap:10px;
  background-color: aquamarine;
}

.problem {
  border:solid white;
  flex:1;
  text-align: center;
  padding-top: 12.5vh;
  padding-left:30px;
  padding-right:30px;
}

#pNr {
  font-size: 5rem;
}


/*
***************
FEATURES SECTION
***************
*/
#section3{
  height:70vh;
  background-color: lightskyblue;
}
#features-title{
  color:white;
  font-size: 5rem;
}
.feature-description {
  color:white;
  padding-right: 50px;
  font-size: 1.5rem;

}

.feature-icon-small{
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}
.iconcolor 
{
  color: black;
}

.feature-padding{
  padding: 30px;
}

.individual-feature-title{
  color: white;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

.individual-feature-subtext {
  color: white;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}

/*
***************
PRICING SECTION
***************
*/

#section4{
  height: fit-content;
  background-color: lightblue;
}

.pricing-title-padding{
  padding-bottom: 10px;
}

.compare-plans{
  color: white;
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
}

.expensive-containers{
  width:100%;
  gap:30px;
  padding-left: 100px;
  padding-right:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expensive-items{
  flex:1;
}
/*
***************
ABOUT US SECTION
***************
*/

#section5{
  background-color: #f9f9f9;
  height:fit-content;
}
.carousel-images, .carousel {
  width:850px;
  height:700px;
}

.carousel-container{
  width:100%;
  display: flex;
  align-items: center;
  align-content: center;
}
.ee {
  margin-left: 27%;
}

.about-us-title{
  text-align: center;
  padding:30px;
}
